section.contact-us {
  
  .top {

  	@include media-breakpoint-up(lg) {
      padding: 30px 30px 0 30px;
      text-align: left;
  	}

  	padding: 20px;
    text-align: center;

    h2 {

      @include media-breakpoint-up(lg) {
        max-width: 68%;
      }

      @include media-breakpoint-up(xl) {
        max-width: 40%;
      }

      font-size: $h1-font-size-small;
      color: $darkSlateBlue;
      
    }

    .description {
      @include media-breakpoint-up(lg) {
        max-width: 100%;
        margin: 0 0 2px 0;
      }

      font-size: $font-size-mx;
      color: $darkSlateBlue;
      max-width: 65%;
      margin: 0 auto 20px auto;

    }
  	
  }

  .image {
  	@include media-breakpoint-up(lg) {
  	  position: relative;
    }
    padding-top: 40px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .social-media {

    > span {
      &:before {
        transition: all ease 0.5s;

        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: contain;
      }
      &:hover {
        &:before {
          transform: scale(1.2);
        }
      }
    }

    .linkedin {
      &:before {
        content: "";
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0id2hpdGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjggMjgiPiAgPHBhdGggZD0iTTI1LjQyNCAxNS44ODd2OC40NDdoLTQuODk2di03Ljg4MmMwLTEuOTgtLjcxLTMuMzMtMi40OC0zLjMzLTEuMzU0IDAtMi4xNTguOTEtMi41MTQgMS44MDItLjEzLjMxNS0uMTYyLjc1My0uMTYyIDEuMTk0djguMjE2aC00LjlzLjA2Ny0xMy4zNSAwLTE0LjczaDQuOXYyLjA4N2MtLjAxLjAxNy0uMDIzLjAzMy0uMDMzLjA1aC4wMzJ2LS4wNWMuNjUtMS4wMDIgMS44MTItMi40MzUgNC40MTQtMi40MzUgMy4yMjIgMCA1LjYzOCAyLjEwNiA1LjYzOCA2LjYzMnpNNS4zNDggMi41Yy0xLjY3NiAwLTIuNzcyIDEuMDkzLTIuNzcyIDIuNTQgMCAxLjQyIDEuMDY2IDIuNTM4IDIuNzE3IDIuNTQ2aC4wMzJjMS43MSAwIDIuNzctMS4xMzIgMi43Ny0yLjU0NkM4LjA1NiAzLjU5MyA3LjAyIDIuNSA1LjM0NCAyLjVoLjAwNXptLTIuNDggMjEuODM0aDQuODk2VjkuNjA0SDIuODY3djE0LjczeiIvPjwvc3ZnPg==);
      }
    }
    .twitter {
      &:before {
        content: "";
        margin-right: 5px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0id2hpdGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjggMjgiPiAgPHBhdGggZD0iTTI0LjI1MyA4Ljc1NkMyNC42OSAxNy4wOCAxOC4yOTcgMjQuMTgyIDkuOTcgMjQuNjJhMTUuMDg2IDE1LjA4NiAwIDAgMS04Ljg2LTIuMzJjMi43MDIuMTggNS4zNzUtLjY0OCA3LjUwNy0yLjMyYTUuNDIxIDUuNDIxIDAgMCAxLTQuNDktMy42NGMuODAyLjEzIDEuNjIuMDc3IDIuNC0uMTU0YTUuNDE2IDUuNDE2IDAgMCAxLTQuNDEyLTUuMTEgNS40MTIgNS40MTIgMCAwIDAgMi4xNjguMzg3IDUuNDE1IDUuNDE1IDAgMCAxLTEuMzk0LTYuOTY1IDE1LjA4NCAxNS4wODQgMCAwIDAgMTAuOTEzIDUuNTcyIDUuMTgzIDUuMTgzIDAgMCAxIDMuNDM0LTYuNDggNS4xNzkgNS4xNzkgMCAwIDEgNS41NDYgMS42ODIgOS4wODggOS4wODggMCAwIDAgMy4zMy0xLjMxNyA1LjA0MyA1LjA0MyAwIDAgMS0yLjQgMi45NDIgOS4wOTUgOS4wOTUgMCAwIDAgMy4wMi0uODUgNS4wNTggNS4wNTggMCAwIDEtMi40OCAyLjcxeiIvPjwvc3ZnPg==);

      }
    }
  }

  .support,
  .form .inner {
  	background: $white;
  }

  .form {

  	@include media-breakpoint-up(lg) {
      margin-top: 0;
      padding-bottom: 0;
  	}

  	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 25px;
    padding-bottom: 40px;

    background: url(../img/tmp-bkg-contact.jpg) no-repeat 160px 100%;

  	.inner {
      @include media-breakpoint-down(lg) {
        box-shadow: none;
      }

  	  @include media-breakpoint-up(lg) {
        width: 75%;
  	    max-width: 75%;
  	  }

  	  width: 100%
  	}

    form.altorep {
      padding: 50px;

      display: flex;
      flex-wrap: wrap;

      > * {
        flex-basis: 100%;
        


      }
      p.half {
        flex-basis: 50%;
      }
      > p {
        padding: 0 10px;
        margin-bottom: 2rem;

        > input::-webkit-input-placeholder,
          textarea::-webkit-input-placeholder {
          font-size: $font-size-sm;
          color: $darkSlateBlue;
        }

        > input:-moz-placeholder,
          textarea::-webkit-input-placeholder { /* Firefox 18- */
          font-size: $font-size-sm;
          color: $darkSlateBlue;
        }

        > input::-moz-placeholder,
          textarea::-webkit-input-placeholder {  /* Firefox 19+ */
          font-size: $font-size-sm;
          color: $darkSlateBlue;
        }

        > input:-ms-input-placeholder,
          textarea::-webkit-input-placeholder {  
          font-size: $font-size-sm;
          color: $darkSlateBlue;
        }

        > input, textarea {
          width: 100%;
          border: 0;
          border-bottom: 1px solid $darkSlateBlue;
        }

      }
    }
  }

}