section.video-bkg,
section.hero-bkg {
  
  .jumbotron {
  	display: flex;
  	
  	height: 100vh;

  	background-position: 50%;
  	background-size: cover;
  }

  .card-title {

  	@include media-breakpoint-down(sm) {
      font-size: $h1-font-size*.7;
    }
    @include media-breakpoint-up(xl) {
      max-width: 70%;
      margin: 0 auto;
    }

  }

  .main-subhead {
    @include media-breakpoint-down(sm) {
      font-size: $font-size-base;
    }  	
  }

}