body {
  background-color: map-get($grays, "200");
}

.box-shadow-panel,
%box-shadow-panel {
  box-shadow: -6px 8px 23px 2px rgba(26, 49, 101, 0.25);
}

.block-linking,
%block-linking {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  text-indent: -9999px;
  z-index: 2;
}

.pd-40,
%pd-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pdt-40,
%pdt-40 {
  padding-top: 40px;
}

.pdb-50,
%pdb-50 {
  padding-bottom: 50px;
}

.padding-card-40-50,
%padding-card-40-50 {
  padding: 40px 40px 50px 40px;
}